@import url(base.css);

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: grid;
  grid-template-columns: 266px 266px;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
/* Result */
.result-card {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;

  & h3 {
    color: var(--lavender);
    margin-bottom: 1rem;
  }

  & h2 {
    margin: 1rem 0;
    color: var(--white);
    font-size: larger;
  }

  & p {
    margin: 1rem 0;
    color: var(--lavender);
    font-size: small;
  }
}

.score-bubble {
  --bubble-size: 160px;
  margin: auto;
  width: var(--bubble-size);
  height: var(--bubble-size);
  line-height: var(--bubble-size);
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  & p {
    font-weight: var(--fw-700);
    font-size: 3.5rem;
    color: white;
  }
}

/* Summary */
.summary-card {
  padding: 1.7rem;
  /* display: grid;
  gap: 0.6rem; */

  & h3 {
    color: var(--grayblue);
    font-weight: var(--fw-700);
    margin-bottom: 1.7rem;
  }

  & .scorebox {
    padding: 10px;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: small;
    border-radius: 8px;

    & p.score {
      margin-left: auto;
      color: var(--grayblue);

      & span:first-child {
        color: var(--grayblue);
        font-weight: var(--fw-700);
      }
    }

    &.reaction {
      background-color: var(--red-light);
      & > p:first-of-type {
        color: var(--red);
      }
    }

    &.memory {
      background-color: var(--orangeyyellow-light);
      & > p:first-of-type {
        color: var(--orangeyyellow);
      }
    }

    &.verbal {
      background-color: var(--greenteal-light);
      & > p:first-of-type {
        color: var(--greenteal);
      }
    }

    &.visual {
      background-color: var(--cobaltblue-light);
      & > p:first-of-type {
        color: var(--cobaltblue);
      }
    }
  }

  & a {
    display: inline-block;
    margin-top: 16px;
    width: 100%;
  }

  & a button {
    border: none;
    width: 100%;
    background-color: var(--grayblue);
    border-radius: 20px;
    color: var(--white);
    font-size: small;
    line-height: 2.5rem;
    cursor: pointer;
  }
}
